.container{
    width: 950px;
    background-color: silver;
    margin: auto;
    padding: 10px;
    display: inline-block;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 5px;
    padding: 1px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 5px;
    display: inline-block;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 5px;
    margin-bottom: 20px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 5px;
}


